<mat-table [dataSource]='dataSource' class="mat-elevation-z8 table">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
     <app-name [name]="element.name"></app-name> 
    </mat-cell>
  </ng-container> 
  <ng-container matColumnDef="sku">
    <mat-header-cell *matHeaderCellDef> SKU </mat-header-cell>
    <mat-cell *matCellDef="let element">
     <app-sku [sku]="element.sku"></app-sku>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
    <mat-cell *matCellDef="let element">
     <app-price [price]="element.price"></app-price> 
    </mat-cell>
  </ng-container>
   <ng-container matColumnDef="country">
    <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
     <app-country [country]="element.country"></app-country> 
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="tags">
    <mat-header-cell *matHeaderCellDef> Tags </mat-header-cell>
    <mat-cell *matCellDef="let element">
     <app-tags [tags]="element.tags"></app-tags>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
     <app-action [action]="element.action"></app-action> 
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
