 <mat-form-field>
  <mat-chip-list #chipList>
   <div *ngIf="tagsArray.length<=2" >
    <mat-chip *ngFor="let item of tagsArray">
      {{category}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
   </div>
    <div *ngIf="tagsArray.length>2" >
    <mat-chip>
      {{tagsArray[0]}}>
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip> 
    ...
    <mat-chip>
      <{{tagsArray[tagsArray.length-1]}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip> 
  </div>
  </mat-chip-list>
</mat-form-field>

