.container{ 
 display: flex;
 flex-wrap: wrap;
 list-style-type: none;
 gap: 10px;
 padding: 0px;
}
.item{ 

 padding: 5px;
 outline: 1px solid silver;
 border-radius: 15px;
 background-color: silver  ;
}